@page "{id:int}"
@model ElectricVehicleDealer.Presentation.Pages.Vehicles.DeleteModel

<h2>Delete Vehicle</h2>

@if (Model.Vehicle is null)
{
    <div class="alert alert-warning">Vehicle not found.</div>
}
else
{
    <div class="alert alert-danger">
        Are you sure you want to delete vehicle <strong>@Model.Vehicle.Model</strong>?
    </div>
    <dl class="row">
        <dt class="col-sm-3">Type</dt>
        <dd class="col-sm-9">@Model.Vehicle.Type</dd>
        <dt class="col-sm-3">Price</dt>
        <dd class="col-sm-9">@Model.Vehicle.Price.ToString("C")</dd>
    </dl>
    <form method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="Index" class="btn btn-secondary ms-2">Cancel</a>
    </form>
}
